body {
    font-family: Roboto, Arial;
    background-color: #5c5c5c;
    color: white;
    margin: 1;
}

header {
    background-color: #823535;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222222;
    color: white;
}
